---
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";

interface Props {
    title: string;
    showSidebar?: boolean;
}

const { title, showSidebar = true } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="VantexCorp - Sistema GMAO" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/vvVantex.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | VantexCorp</title>

        <script is:inline>
            (function () {
                // 1. Gestión de Tema
                const theme =
                    localStorage.getItem("theme") ||
                    (window.matchMedia("(prefers-color-scheme: dark)").matches
                        ? "dark"
                        : "light");
                if (theme === "dark")
                    document.documentElement.classList.add("dark");

                try {
                    const userStr =
                        localStorage.getItem("user") ||
                        sessionStorage.getItem("user");
                    if (userStr) {
                        const user = JSON.parse(userStr);
                        if (user.role === "technician") {
                            document.documentElement.classList.add(
                                "role-technician",
                            );
                        }
                    }
                } catch (e) {}
            })();
        </script>
        <style is:inline>
            html.role-technician .admin-only {
                display: none !important;
            }
        </style>
    </head>
    
</html>
